*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.conteneur{
    max-width: 1000px;
    margin: 0 auto;
    background-color: beige;
    border: 2px solid black ;
    margin-top: 50px;
   padding: 20px;
}
form {
    width: 40%;
    padding: 20px;
    margin: 0 auto;
}
label {
    display: block;
    
}
